@import url("color.css");
:root {
    --color-workflow-card-connector: var(--color-scale-gray-3);
    --color-workflow-card-connector-bg: var(--color-scale-gray-3);
    --color-workflow-card-connector-inactive: var(--color-border-primary);
    --color-workflow-card-connector-inactive-bg: var(--color-border-primary);
    --color-workflow-card-connector-highlight: var(--color-scale-blue-4);
    --color-workflow-card-connector-highlight-bg: var(--color-scale-blue-4);
    --color-workflow-card-bg: var(--color-scale-white);
    --color-workflow-card-inactive-bg: var(--color-bg-canvas-inset);
    --color-workflow-card-header-shadow: transparent;
    --color-workflow-card-progress-complete-bg: var(--color-scale-blue-4);
    --color-workflow-card-progress-incomplete-bg: var(--color-scale-gray-2);
    --color-discussions-answer-border: var(--color-scale-green-5);
    --color-discussions-answer-icon: var(--color-scale-green-6);
    --color-discussions-answer-text: var(--color-scale-green-6);
    --color-discussions-state-answered-icon: var(--color-scale-white);
    --color-bg-discussions-row-emoji-box: rgba(209,213,218,0.5);
    --color-upvote-icon-bg: var(--color-accent-subtle,var(--color-scale-blue-1));
    --color-downvote-icon-bg: var(--color-scale-red-1);
    --color-search-hover-hl: var(--color-scale-white);
    --color-notifications-button-text: var(--color-text-secondary);
    --color-notifications-button-hover-text: var(--color-text-primary);
    --color-notifications-button-hover-bg: var(--color-scale-gray-2);
    --color-notifications-row-read-bg: var(--color-bg-tertiary);
    --color-notifications-row-bg: var(--color-scale-white);
    --color-page-header-bg: var(--color-bg-secondary);
    --color-timeline-merged-bg: var(--color-scale-purple-5);
    --color-icon-directory: var(--color-scale-blue-3);
    --color-calendar-halloween-graph-day-L1-bg: #ffee4a;
    --color-calendar-halloween-graph-day-L2-bg: #ffc501;
    --color-calendar-halloween-graph-day-L3-bg: #fe9600;
    --color-calendar-halloween-graph-day-L4-bg: #03001c;
    --color-calendar-graph-day-bg: #ebedf0;
    --color-calendar-graph-day-border: rgba(27,31,35,0.06);
    --color-calendar-graph-day-L1-bg: #9be9a8;
    --color-calendar-graph-day-L2-bg: #40c463;
    --color-calendar-graph-day-L3-bg: #30a14e;
    --color-calendar-graph-day-L4-bg: #216e39;
    --color-calendar-graph-day-L1-border: rgba(27,31,35,0.06);
    --color-calendar-graph-day-L2-border: rgba(27,31,35,0.06);
    --color-calendar-graph-day-L3-border: rgba(27,31,35,0.06);
    --color-calendar-graph-day-L4-border: rgba(27,31,35,0.06);
    --color-text-white: var(--color-scale-white);
}